<!doctype html>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SignUp - Geex Dashboard</title>

	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- inject:css-->
	<link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	<!-- endinject -->
	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon.svg') }}">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css">


    <script>
		// Render localStorage JS:
		if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);
		if (localStorage.layout) document.documentElement.setAttribute("data-nav", localStorage.navbar);
		if (localStorage.layout) document.documentElement.setAttribute("dir", localStorage.layout);
    </script>	
</head>

<body class="geex-dashboard authentication-page">
	<main class="geex-content">
		<div class="geex-content__authentication">
			<div class="geex-content__authentication__content">
				<div class="geex-content__authentication__content__wrapper">
					<div class="geex-content__authentication__content__logo">
						<a href="{{ path('index') }}">
							<img class="logo-lite" src="{{ asset('assets/img/logo-dark.png') }}" alt="logo">
							<img class="logo-dark" src="{{ asset('assets/img/logo-lite.png') }}" alt="logo">
						</a>
					</div>
					{{ form_start(registrationForm, {'attr': {'class': 'geex-content__authentication__form'}, 'method': 'POST'}) }}
						<h2 class="geex-content__authentication__title">Create Your Account 👋</h2>
						
						<div class="geex-content__authentication__form-group">
							{{ form_label(registrationForm.firstName) }}
							{{ form_widget(registrationForm.firstName, {'attr': {'placeholder': 'Enter Your First Name'}}) }}
							<i class="uil-user"></i>
							{{ form_errors(registrationForm.firstName) }}
						</div>
						
						<div class="geex-content__authentication__form-group">
							{{ form_label(registrationForm.lastName) }}
							{{ form_widget(registrationForm.lastName, {'attr': {'placeholder': 'Enter Your Last Name'}}) }}
							<i class="uil-user"></i>
							{{ form_errors(registrationForm.lastName) }}
						</div>
						
						<div class="geex-content__authentication__form-group">
							{{ form_label(registrationForm.mail) }}
							{{ form_widget(registrationForm.mail, {'attr': {'placeholder': 'Enter Your Email'}}) }}
							<i class="uil-envelope"></i>
							{{ form_errors(registrationForm.mail) }}
						</div>
						
						<div class="geex-content__authentication__form-group">
							{{ form_label(registrationForm.username) }}
							{{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Choose a Username'}}) }}
							<i class="uil-at"></i>
							{{ form_errors(registrationForm.username) }}
						</div>
						
						<div class="geex-content__authentication__form-group">
							{{ form_label(registrationForm.plainPassword.first) }}
							{{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
							<i class="uil-eye toggle-password-type"></i>
							{{ form_errors(registrationForm.plainPassword.first) }}
						</div>
						
						<div class="geex-content__authentication__form-group">
							{{ form_label(registrationForm.plainPassword.second) }}
							{{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Repeat Password'}}) }}
							<i class="uil-eye toggle-password-type"></i>
							{{ form_errors(registrationForm.plainPassword.second) }}
						</div>
						<div class="geex-content__authentication__form-group">
    						{{ form_label(registrationForm.profile) }}
							{{ form_widget(registrationForm.profile, {'attr': {'placeholder': 'Select your role'}}) }}
							
    						{{ form_errors(registrationForm.profile) }}
						</div>
						<br>
						<div class="geex-content__authentication__form-group custom-checkbox" style="display:block;">
    						{{ form_widget(registrationForm.agreeTerms) }}
    						{{ form_label(registrationForm.agreeTerms) }}
    						{{ form_errors(registrationForm.agreeTerms) }}
						</div>
						
						<button type="submit" class="geex-content__authentication__form-submit">Sign Up</button>
						
						<div class="geex-content__authentication__form-footer">
							Already have an account? <a href="{{ path('app_login') }}">Sign In</a>
						</div>
						{% if registrationForm.vars.errors|length > 0 %}
    						<div class="alert alert-danger">
        					{{ form_errors(registrationForm) }}
    						</div>
						{% endif %}
					{{ form_end(registrationForm) }}
				</div>
			</div>	
			<div class="geex-content__authentication__img">
				<img src="{{ asset('assets/img/authentication.svg') }}" alt="">
			</div>
		</div>
	</main>

	<!-- inject:js-->
	<script src="{{ asset('assets/vendor/js/jquery/jquery-3.5.1.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/js/jquery/jquery-ui.js') }}"></script>
	<script src="{{ asset('assets/vendor/js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/js/main.js') }}"></script>
	<!-- endinject-->
	
	<script>
		// Toggle password visibility
		document.querySelectorAll('.toggle-password-type').forEach(icon => {
			icon.addEventListener('click', function() {
				const input = this.previousElementSibling;
				const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
				input.setAttribute('type', type);
				this.classList.toggle('uil-eye-slash');
			});
		});
	</script>
</body>
</html>